.home {
  padding: 0px 60px 0px 60px;
  width: 100%;
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__hero-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    &-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &-frame {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-text {
      width: 536px;
    }

    &-btn {
      display: flex;
      height: 48px;
      padding: 0px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 12px;
      border: 1px solid #fff;
      color: white;
      background-color: #181818;
      box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.16);
    }
  }

  &__slider {
    width: 620px;
    height: 896px;
    flex-shrink: 0;

    &-first-layer {
      width: 530px;
      height: 880px;
      flex-shrink: 0;
      position: relative;
      top: -50px;
      right: -40px;
      background: #f2f2f2;
      z-index: -1;
    }

    &-second-layer {
      width: 530px;
      height: 880px;
      flex-shrink: 0;
      position: relative;
      top: -20px;
      right: 20px;
      margin: 40px 40px;
      background: #e8e8e8;
      z-index: -1;
    }

    &-third-layer {
      width: 530px;
      height: 856px;
      position: relative;
      right: -20px;
      background: #fff;
      z-index: -1;
    }

    &-portrait {
      margin: 0px -145px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .home {
    margin-top: 50px;
    margin-bottom: 500px;
    flex-direction: column;

    &__slider {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 840px) {
  .home {
    padding: 0px 40px 0px 40px;
    margin-bottom: 300px;

    &__slider {
      width: 420px;
      height: auto;

      &-first-layer {
        background: none;
        width: 100%;
        height: 100%;
      }

      &-second-layer {
        background: none;
        width: 100%;
        height: 100%;
      }

      &-third-layer {
        background: none;
        width: 100%;
        height: 100%;
      }

      &-portrait {
        width: 100%;
        height: 100%;
        margin: 0px -50px;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .home {
    padding: 0px 20px 0px 20px;
    margin-bottom: 150px;

    &__slider {
      width: 320px;
    }

    &__hero-info {
      align-items: center;

      &-hero {
        width: 390px;
        gap: 14px;

        &-frame {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      &-text {
        width: 100%;
      }

      &-title {
        font-size: 36px;
      }

      &-image {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .home {
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;

    &__slider {
      width: 260px;

      &-first-layer {
        right: 0;
      }

      &-second-layer {
        margin: 20px 20px;
      }

      &-third-layer {
        right: 0;
      }

      &-portrait {
        margin: 0px 0px;
      }
    }

    &__hero-info {
      &-hero {
        width: 240px;
      }

      &-title {
        font-size: 22px;
      }

      &-image {
        width: 30%;
      }
    }
  }
}
